.plateBg {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  width: 100%;
  height: 100%;
  /* padding: 20px 20px; */
  display: flex;
  line-height: 40px;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-wrap: inherit;
  font-size: 3em;
  overflow: hidden;
  border-radius: 20em;
} 

.plateBg div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20em;
  overflow: hidden;
  /* line-break: anywhere; */
}