.container {
  font-family: 'Acumin-Light';
  width: 90%;
  max-width: 70em;
}

.impressum-content {
  position: absolute;
  top: 6em;
  left: 2em;
  margin: 2em;
}

#about-title {
  font-weight: 600;
  font-size: 3em;
  margin-top: 0;
}

#impressum-title {
  font-size: 2.5em;
  font-weight: 800;
}

.openFormButton {
  border: none;
  background: none;
  height: 3em;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 2em;
  right: 3em;
}

.openFormButton p {
  width: max-content;
  color:#FF10F0;
  font-size: 1.5em;
  margin-top: 0.5em;
}

.bold-text {
  font-weight: bold;
}

.impressum-sub-title {
  margin-top: 1.5em;
  font-size: 1.5em;
  font-weight: 800;
}

.impressum-sub-sub-title {
  margin-top: 1em;
  font-size: 1.2em;
}

@media only screen and (max-width: 700px) {
  
}



