


.triggerImage {
  width: 15%;
  transform: rotateZ(5deg);
  margin-bottom: 2em;
}

.triggerTextContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} 

.triggerText {
  font-family: 'acumin-pro';
  font-weight: 300;
  font-style: normal;
  font-size: 2em;
  color: #000;
  width: 70%;
  max-width: 43em;
  text-align: center;
  align-self: center;
}

#cookieWarning {
  font-size: 1.7em;
}

.CookieConsent {
  flex-flow: column !important;
  overflow-y: scroll !important;
  margin: 0 !important; height: 100% !important; overflow: hidden !important;
}

.CookieConsent button {
  margin: 0 !important;
  margin-bottom: 3em !important;
  font-family: 'acumin-pro';
  font-weight: 500 !important;
  font-style: normal;
  color: #000 !important;
  transform: translateY(-30px);
  border: 2px solid #000 !important;
  padding: 0.7em 3em !important;
  font-size: 1em !important;
}

.CookieConsent button:hover {
  color:#FF10F0 !important;
  border-color:#FF10F0 !important;
}

@media only screen and (min-height: 1200px) {
  .CookieConsent button {
    transform: translate(0px, -150px);
  }
}

@media only screen and (min-height: 1100px) {
  @media only screen and (min-width: 800px) {
    .CookieConsent button {
      transform: translate(0px, -150px);
      font-size: 1.5em !important;
    }
  }
}

@media only screen and (max-width: 700px) {
  .triggerText {
    font-size: 1.5em;
  }

  #cookieWarning {
    font-size: 1.3em;
  }
}


@media only screen and (max-height: 970px) {
  .triggerImage {
    width: 16%;
  }

  .triggerText {
    font-size: 1.3em;
  }

  #cookieWarning {
    font-size: 1.1em;
  }
}

@media only screen and (max-width: 810px) {
  .triggerImage {
    width: 30%;
  }
}

@media only screen and (max-width: 510px) {
  .triggerImage {
    width: 40%;
  }

  .triggerText {
    font-size: 1.2em;
  }
}

@media only screen and (max-height: 700px) {
  @media only screen and (max-width: 410px) {
    .triggerImage {
      width: 40%;
    }

    .triggerText {
      font-size: 0.8em;
    }
  }
}