.about-container {
  font-family: 'acumin-pro';
  width: 90%;
  max-width: 80em;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.about-description {
  font-size: 5em;
  width: 60%;
  font-family: 'acumin-pro';
  font-weight: 200;
  font-style: normal;
}

.description-2 {
  width: 60%;
  font-size: 4em;
  line-height: 1.2em;
}

.about-sidenote-container {
  display: flex;
  flex-direction: column;
  width: 38%;
  justify-content: center;
  align-items: center;
}

.about-sidenote-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 20em;
}

.about-sidenote-content svg {
  width: 60%;
  margin-left: 0;
}

.about-description-small {
  width: 100%;
  font-size: 1.2em;
}

.about-filler {
  width: 30%;
}

.link-container {
  width: 100%;
  height: 12em;
  position: relative;
}

.about-openFormButton {
  width: max-content;
  color:#FF10F0;
  font-size: 1.3em;
  position: absolute;
  right: 0;
  bottom: 0.5em;
}

.text-image-container {
  display: flex;
  width: 100%;
  /* height: 60vh; */
  align-items: center;
  justify-content: space-between;
}

.aboutImg-container {
  width: 35%;
}

.aboutImg {
  width: 100%;
  height: 25%;
}

.about-categories {
  width: 60%;
  font-size: 0.4em;
  padding-left: 15em;
}

.about-categories input[type="radio"] + label {
  margin: 0.1 0.1em !important;
}

.full-length-description {
  width: 100%;
  font-size: 3.5em;
  font-family: 'acumin-pro';
  font-weight: 200;
  font-style: normal;
}

.full-length-description-2 {
  width: 100%;
  font-size: 4em;
  line-height: 1.3em;
  font-family: 'acumin-pro';
  font-weight: 200;
  font-style: normal;
}

.about-button {
  width: 50%;
  align-self: flex-end;
}

.about-beilage svg {
  width: 40%;
}

.aboutImg-3 {
  display: none;
}
.about-sidenote-container-2 {
  display: none;
}

/* @media screen and (min-width: 1400px) {
  .about-description-small {
    width: 35%;
    font-size: 1em;
  }
} */

@media only screen and (max-width: 1500px) {
  .about-description {
    font-size: 4em;
  }
  .description-2 {
    font-size: 3em;
  } 
}

@media only screen and (max-width: 1200px) {
  .about-description {
    font-size: 3.5em;
    margin-right: 0.5em;
  }
  .description-2 {
    margin-left: 0.5em;
    font-size: 2.5em;
  } 
}

@media only screen and (max-width: 1200px) {
  .about-content svg {
    width: 45%;
  }
  .about-description {
    font-size: 3em;
    margin-right: 0.5em;
  }
  .description-2 {
    margin-left: 1.5em;
    font-size: 2.5em;
  } 
  .about-sidenote-container {
    width: 35%;
  }
  .about-sidenote-content {
    width: auto;
  }
  .about-filler {
    width: 0%;
  }
  .description-3 {
    width: 100%;
    margin-left: 0;
    font-size: 2.5em;
  }
  .full-length-description {
    font-size: 2em;
  }
  .full-length-description-2 {
    font-size: 2.5em;
  }
  .about-categories {
    width: 100%;
    padding-left: 0;
    font-size: 0.7em;
    margin-top: 3em;
  }
  .about-button {
    width: 100%;
    margin-top: 2em;
  }
  .about-beilage {
    width: 100%;
    margin-top: 5em;
  }
}

@media only screen and (max-width: 850px) {
  .about-container {
    width: 90%;
    padding: 0;
  }
  .link-container {
    width: 100%;
    height: 10em;
  }
  .text-image-container {
    /* display: flex;
    height: 60vh;
    align-items: center; */
    flex-wrap: wrap;
  }
  .about-content svg {
    width: 50%;
  }
  .aboutImg-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .aboutImg {
    width: inherit;
    max-width: 27em;
    margin-bottom: 3em;
    transform: translate(42px, 0);
  }
  .aboutImg-2 {
    display: none;
  }
  .about-description {
    width: 100%;
    font-size: 3em;
  }
  .description-2 {
    margin-left: 0;
    font-size: 2.5em;
    margin-top: 1em;
    margin-bottom: 0;
  } 
  .about-sidenote-container {
    display: none;
  }
  .about-categories {
    width: 100%;
    font-size: 0.5em;
    padding-left: 0;
  }
  .full-length-description {
    font-size: 1.5em;
  }
  .full-length-description-2 {
    font-size: 2.5em;
  }
  .about-button {
    width: 100%;
  }
  .aboutImg-container-2 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
  .aboutImg-3 {
    display: block;
    width: inherit;
    margin-top: 3em;
    transform: translate(-30px, 0);
  }
  .about-sidenote-container-2 {
    display: flex;
    width: 60%;
    align-self: flex-end;
    margin-bottom: 2em;
    padding-right: 2em;
  }
  .about-sidenote-container-2 svg{
    width: 30%;
    min-width: 10em
  }
  .about-beilage svg{
    width: 100%;
    margin-top: 0;
  }
  .about-beilage p {
    align-self: center;
    width: 100%;
  }
}

@media only screen and (max-width: 650px) {
  .about-openFormButton p {
    font-size: 0.8em;
  }
  .aboutImg {
    width: 80%;
    margin-top: 2em;
  }
  .about-description {
    width: 100%;
    font-size: 1.7em;
  }
  .about-content svg {
    width: 60%;
    max-width: 19em;
    margin-left: 0;
  }
  .about-beilage svg {
    width: 80%;
  }
  .about-beilage p {
    align-self: center;
    width: 80%;
    margin-top: -2em;
  }
  .full-length-description-2 {
    font-size: 2em;
  }
}