.openAboutButton {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Acumin-Light';
  font-size: 1.4em;
}

.aboutButtonText {
  font-weight: 600;
  color:#FF10F0;
}

.aboutButtonTextMobile {
  top: 1em !important;
  left: auto !important;
  right: 2em !important;
  font-size: 1em !important;
  font-weight: 100 !important;
  font-family: 'Acumin-Light';
}

.openAboutButton p {
  width: max-content;
  font-size: 1em;
}

@media only screen and (max-width: 700px) {
  .openAboutButton p {
    font-size: 0.8em;
  }
  .openAboutButton {
    padding-left: 2em;
  }
}

@media only screen and (max-width: 1000px) {
  .openAboutButton {
    padding-left: 2em;
  }
}