.gallery {
  padding: 1em;
}

.form-categories {
  margin-bottom: 1em;
  margin-right: 1em;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: 0.8em;
}

.category-radio + label {
  flex: 1 0 auto !important;
  width: max-content !important;
  text-align: center;
}

input[type="radio"] + label {
  margin: 5px;
  padding: 10px 16px;
  border-radius: 40px;
  border: 2px solid #333;
  color: #333;
  position: relative;
  font-size: 1.2em;
  font-family: 'Acumin-Light';
}

input[type="radio"]:hover + label,
input[type="radio"]:checked + label,
input[type="radio"]:focus + label{
  cursor: pointer;
  border-color: #FF10F0;
  color: #FF10F0;
}

.storedPlate {
  width: 14em;
}

.gallery-wall {
  display: grid;
  /* grid-template-columns: 30% 30% 30%; */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1em 1em;
  grid-auto-flow: row dense;
  width: 100%;
}

.large-plate {
  background: rgba(255, 0, 0, 0.25);
  grid-column: auto / span 2;
  grid-row: auto / span 2;
  height: 200px;
}

/* @media only screen and (max-width: 900px) {
  .gallery-wall {
    grid-template-columns: 40% 40%;
  }
}

@media only screen and (max-width: 650px) {
  .gallery-wall {
    grid-template-columns: 100%;
  }

} */