.footer-container {
  width: 100%;
  margin-top: 13em;
  display: flex;
  color: #333;
  font-family: 'acumin-pro';
  font-weight: 300;
  font-style: normal;
}

.footer-container .flex-row-container{
  border-top: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer {
  width: 100%;
  border: 1px solid black;
  display: flex;
}

.footer-logo {
  width: 15em;
  padding-left: 2em;
}


.footer-left {
  width: 100%;
  /* border-top: 2px solid black; */
  display: flex;
  flex-direction: column;
  padding: 2em 6em;
  text-decoration: none;
}

.footer-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-description {
  margin-bottom: 4em;
}

.link-to-instagram {
  height: 3em;
  display: flex;
}

.link-to-instagram svg {
  padding-top: 0.2em;
}

.social-row {
  display: flex;
  flex-direction: row;
  padding: 0.3em 0;
  cursor: pointer;
  text-decoration: none;
}

.social-icons-container {
  display: flex;
}

.social-icons p {
  padding-left: 2em;
  margin-bottom: 0;
  margin-top: 0.5em;
}

.social-links {

}

.social-links a {
  margin-bottom: 0;
  margin-top: 0.5em;
}

a {
  text-decoration: none;
}

.social p {
  color: #333;
  text-decoration: none;
  padding-left: 2em;
  margin-bottom: 0;
  margin-top: 0.5em;
}

.social:hover p {
  color: #FF10F0;
}

.footer-link {
  padding: 0 2em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-decoration: none;
  cursor: pointer;
}

.footer-link p {
  color: #333;
  padding: 0;
}

.footer-link:hover p {
  color: #FF10F0;
}

#data-link {
  padding: 0;
}

#data-link p {
  padding: 0 !important;
}

#impressum-link {
  padding-left: 0em;
}

.big-row {
  height: 200px !important;
  align-items: center;
  justify-content: flex-start;
}

.small-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
} 

.flex-row-container > .flex-row-item {
  flex: 1 1 30%; /*grow | shrink | basis */
  height: 80px;
  padding: 1em;
  display: flex;
}

.flex-row-container > .flex-row-item p {
  padding-left: 2em;
}

.column-content {
  flex-direction: column;
  align-items: flex-start !important;
  justify-content: center !important;
}

#copyright-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#copyright-section p {
  font-size: 1em;
  padding-left: 1.8em;
}

#copyright-section .row-flex {
  padding-right: 2em;
}

/* .column-content p {
  padding-left: 2em;
} */

.flex-row-item {
  border: 1px solid #000;
}

.fhSalzburg {
  width: 4em;
  padding-left: 2em;
}

.column-flex {
  display: flex;
  flex-direction: column;
}

.row-flex {
  display: flex;
  flex-direction: row;
  margin-top: 0.1em;
}

.row-flex p {
  width: max-content;
  font-size: 1em;
}

.row-flex svg {
  align-self: center;
}

.arrowUp {
  width: 3em;
  transform: translate(0em, -30px);
}

.arrowUpSmall {
  width: 3em;
}

@media only screen and (min-width: 801px) and (max-width: 1019px) {
  #copyright-section {
    width: 100%;
    height: 80px;
    flex: auto;
  }
}


@media only screen and (max-width: 800px) {
  .footer-container {
    margin-top: 6em;
  }
  .footer {
    width: 100%;
  }
  .footer-logo {
    width: 13em;
    padding-left: 2em;
    padding-top: 2em;
  }
  .footer-right {
    flex-direction: column;
  }
  .footer-left {
    width: 100%;
    padding: 2em 2em;
  }
  #data-link {
    border-left: none;
  }
  .big-row {
    /* height: 170px !important; */
    height: fit-content !important;
    min-height: 120px;
    width: 100% !important;
  }
  .arrowUp {
    transform: translate(0em, -8px);
  }
  .small-row {
    height: fit-content;
    margin-bottom: 0;
  }
  .small-row-2 {
    justify-content: flex-start;
    align-items: center;
  }
  .small-row-2 a {
    font-size: 0.8em !important;
    padding-left: 2.4em;
  }
  #data-link {
    padding-left: 2em;
  }
  .flex-row-container > .flex-row-item {
    flex: 1 1 100%;
  }
  .flex-row-container > .flex-row-item p {
    padding-left: 1.4em;
    font-size: 1.3em;
  }
  .footer-description {
    margin-bottom: 2em;
  }
  .fhSalzburg {
    padding-top: 2em;
  }
  #copyright-section {
    flex-direction: column;
    justify-content: center;
  }
  #copyright-section p {
    margin-bottom: 0;
  }
  #copyright-section .row-flex {
    padding-right: 1em;
  }
}