.footer-container {
  width: 100%;
  margin-top: 13em;
  display: flex;
  color: #333;
  font-family: 'Acumin-Extra-Light';
}

.footer-container .flex-row-container{
  border-top: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer {
  width: 100%;
  border: 1px solid black;
  display: flex;
}

.footer-title {
  font-weight: 300;
  font-size: 2em;
  margin: 0;
  letter-spacing: 0.03em;
  padding-left: 1em !important;
}


.footer-left {
  width: 100%;
  /* border-top: 2px solid black; */
  display: flex;
  flex-direction: column;
  padding: 2em 6em;
  text-decoration: none;
}

.footer-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-row {
  display: flex;
  flex-direction: row;
  padding: 0.3em 0;
  cursor: pointer;
  text-decoration: none;
}

.social-icons {
  padding-right: 2em;
  height: 6em;
}

.social-links {
  height: 6em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
}

.social p {
  margin: 0;
  color: #333;
  text-decoration: none;
}

.social:hover p {
  color: #FF10F0;
}

.footer-link {
  padding: 0 2em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-decoration: none;
  cursor: pointer;
}

.footer-link p {
  color: #333;
  padding: 0;
}

.footer-link:hover p {
  color: #FF10F0;
}

#data-link {
  padding: 0;
}

#data-link p {
  padding: 0 !important;
}

#impressum-link {
  padding-left: 0em;
}

.big-row {
  height: 200px !important;
  align-items: center;
  justify-content: flex-start;
}

.small-row {
  justify-content: center;
  align-items: flex-start;
} 

.flex-row-container > .flex-row-item {
  flex: 1 1 30%; /*grow | shrink | basis */
  height: 80px;
  padding: 1em;
  display: flex;
}

.flex-row-container > .flex-row-item p {
  padding-left: 2em;
}

.column-content {
  flex-direction: column;
  align-items: flex-start !important;
  justify-content: center !important;
}

/* .column-content p {
  padding-left: 2em;
} */

.flex-row-item {
  border: 1px solid #000;
}

.fhSalzburg {
  width: 5em;
  padding-left: 2em;
}

.column-flex {
  display: flex;
  flex-direction: column;
}

.row-flex {
  display: flex;
  flex-direction: row;
}

.row-flex p {
  width: max-content;
}

.row-flex svg {
  width: 8em;
  padding-left: 1em;
}

.arrowUp {
  width: 3em;
  transform: translate(0em, -30px);
}

@media only screen and (max-width: 1019px) {
  #copyright-section {
    height: 200px !important;
  }
}


@media only screen and (max-width: 800px) {
  .footer {
    width: 100%;
  }
  .footer-right {
    flex-direction: column;
  }
  .footer-left {
    width: 100%;
    padding: 2em 2em;
  }
  #data-link {
    border-left: none;
  }
  .big-row {
    height: 170px !important;
  }
  #copyright-section {
    height: 170px !important;
  }
}