.App {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.header {
  height: 6em;
}

.app-container {
  position: relative;
  max-width: 100em;
}

.section-form {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
